@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "node_modules/bootstrap/scss/card.scss";


// 5. Add additional custom code here

.navigation-field {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

$base-black: #222327;
$base-white: #fff;
$base-green: #29fd53;
$base-red: #f00;

body{
  width: 100vw;
}
.nav-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 100vh;
    background: $base-black;
    z-index: 2;
}

.navigation {
    position: relative;
    width: 100%;
    height: 70px;
    background: $base-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 200;
    ul {
        display: flex;
        width: 100%;
        padding: 0;
        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    transition: 0.5s;
                    color: $base-black;
                }

                .text {
                    position: absolute;
                    color: $base-black;
                    font-weight: 400;
                    //font-size: 0.75em ;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }
            }
        }
        li.active {
            a {
                .icon {
                    transform: translateY(-32px);
                }
                .text {
                    opacity: 1;
                    transform: translateY(10px);
                }
            }
        }
    }
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: $base-green;
    border-radius: 50%;
    border: 6px solid $base-black;
    transition: 0.5s;
}

.indicator::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 $base-black;
}

.indicator::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 $base-black;
}

body {
    background: $base-black;
    position: absolute;
    top: 0;
}

.text {
    font-size: 16px;
}

/*Banner aka Slider with Text kezdete*/

.banner {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/banner.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
    z-index: -1;
}


.bg-overlay {
    padding: 30rem 0rem 20rem;
    background-color: RGBA(15, 5, 20, 0.84);
    z-index: -1;
}

.banner-text {
    h2 {
        z-index: -1;
        span {
            color: #ff0000;
            z-index: -1;
        }
    }
}

.banner-button {
    border: rgba(230, 49, 17, 0.18) 1px solid;
    padding: 0.9rem 2rem;
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.7rem 1.7rem 1.7rem 1.7rem;
    font-size: 1rem;
    margin-top: 3rem;
    z-index: -1;
}

.banner-button:hover {
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    z-index: -1;
}

.arrow {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #d93d3d, 0 0 5px #d93d3d, 0 0 6.25px #d93d3d,
            0 0 7.5px #d93d3d, 0 0 8.75px #d93d3d;
    }
    to {
        text-shadow: 0 0 2.5px #fff, 0 0 3.75px #d93d3d, 0 0 5px #d93d3d, 0 0 6.25px #d93d3d, 0 0 7.5px #d93d3d,
            0 0 8.75px #d93d3d, 0 0 10px #d93d3d;
    }
}

.cards{
    background: #222327;
}

/*Content screen kezdete*/

.content-screen {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /*Media Quarry req*/
  .content-card {
    position: absolute;
    left: 10%;
    right: 10%;
    z-index: 4;
    /*width: 60vmax;*/
    height: 40vmax;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .content-card 
  {
  .row {
    position: relative;
    margin: 3px;
  }
}
  .content-card 
  {#content-image {
    margin-top: 5px;}
  }
  
  @media screen and (min-width: 1455px) {
    .content-card {
      left: auto;
      right: auto;
      height: 40vmax;
    }
  }
  
  @media screen and (max-width: 848px) {
    .content-card {
      left: auto;
      right: auto;
      height: 45vmax;
    }
  }
  
  @media screen and (max-width: 750px) {
    .content-card {
      left: auto;
      right: auto;
      height: 50vmax;
    }
  }
  
  @media screen and (max-width: 715px) {
    .content-card {
      left: auto;
      right: auto;
      height: 55vmax;
    }
  }
  
  @media screen and (max-width: 593px) {
    .content-card {
      left: auto;
      right: auto;
      height: 60vmax;
    }
  }
  
  @media screen and (max-width: 533px) {
    .content-card {
      left: auto;
      right: auto;
      height: 65vmax;
    }
  }
  
  @media screen and (max-width: 465px) {
    .content-card {
      left: auto;
      right: auto;
      height: 70vmax;
    }
  }
  
  @media screen and (max-width: 409px) {
    .content-card {
      left: auto;
      right: auto;
      height: 75vmax;
    }
  }
  
  @media screen and (max-width: 407px) {
    .content-card {
      left: auto;
      right: auto;
      height: 80vmax;
    }
  }
  
  @media screen and (max-width: 365px) {
    .content-card {
      left: auto;
      right: auto;
      height: 85vmax;
    }
  }
  
  @media screen and (max-width: 360px) {
    .content-card {
      left: auto;
      right: auto;
      height: 90vmax;
    }
  }
  
  @media screen and (max-width: 350px) {
    .content-card {
      left: auto;
      right: auto;
      /*top: 595px !important;*/
      height: 100vmax;
    }
  }
/*Banner aka Slider with Text vége*/
